// Fonts

body {
	font-family: 'Poppins', sans-serif;
}

// Colors

$ligtgreen: #71927a;
$darkgreen: #142725;
$input: #ecf1F2;
$white: #ffffff;
$black: #000000;
$brown: #835840;
$lightbrown: #e0dcd7;
$gray: #868686;

*{
	margin: 0;
	padding: 0;
}